
You are alone/assets/data/data-goes-here\.txt

You are alone/assets/images/images-go-here\.txt

You are alone/assets/music/music-goes-here\.txt

You are alone/assets/sounds/sounds-go-here\.txt

You are alone/export/
